ul.jqueryFileTree {
	padding: 0px;
	margin: 0px;
}

ul.jqueryFileTree li {
	list-style: none;
	line-height:1;
	padding:3px 4px 3px 25px;margin: 0px;
	white-space: nowrap;
	background-position:3px 5px;
	background-repeat:no-repeat;
}

ul.jqueryFileTree a {
	color: #333;
	text-decoration: none;
	display: block;
	padding: 3px 3px 5px 3px;
	outline:none;
}

ul.jqueryFileTree a:hover {
	background: #eee;
}

#list_files a {
	line-height:1;
	text-decoration:none;
}

#list_files a:hover {
	text-decoration:underline;
}

/* Core Styles */
.jqueryFileTree li.directory {background-image: url(img/icons/directory.png); }
.jqueryFileTree li.expanded {background-image: url(img/icons/folder_open.png);}
.jqueryFileTree li.wait {background-image: url(img/buttons/spinner.gif);}
#list_files a.file {
	background-image: url(img/icons/file.png);
	background-position:3px 5px;
	background-repeat:no-repeat;
	padding:3px 4px 3px 25px;
}
/* File Extensions*/
#list_files a.ext_3gp{background-image: url(img/icons/film.png); }
#list_files a.ext_afp{background-image: url(img/icons/code.png); }
#list_files a.ext_afpa{background-image: url(img/icons/code.png); }
#list_files a.ext_asp{background-image: url(img/icons/code.png); }
#list_files a.ext_aspx{background-image: url(img/icons/code.png); }
#list_files a.ext_avi{background-image: url(img/icons/film.png); }
#list_files a.ext_bat{background-image: url(img/icons/application.png); }
#list_files a.ext_bmp{background-image: url(img/icons/picture.png); }
#list_files a.ext_c{background-image: url(img/icons/code.png); }
#list_files a.ext_cfm{background-image: url(img/icons/code.png); }
#list_files a.ext_cgi{background-image: url(img/icons/code.png); }
#list_files a.ext_com{background-image: url(img/icons/application.png); }
#list_files a.ext_cpp{background-image: url(img/icons/code.png); }
#list_files a.ext_css{background-image: url(img/icons/css.png); }
#list_files a.ext_doc{background-image: url(img/icons/doc.png); }
#list_files a.ext_exe{background-image: url(img/icons/application.png); }
#list_files a.ext_gif{background-image: url(img/icons/picture.png); }
#list_files a.ext_fla{background-image: url(img/icons/flash.png); }
#list_files a.ext_h{background-image: url(img/icons/code.png); }
#list_files a.ext_htm{background-image: url(img/icons/html.png); }
#list_files a.ext_html{background-image: url(img/icons/html.png); }
#list_files a.ext_jar{background-image: url(img/icons/java.png); }
#list_files a.ext_jpg{background-image: url(img/icons/picture.png); }
#list_files a.ext_jpeg{background-image: url(img/icons/picture.png); }
#list_files a.ext_js{background-image: url(img/icons/script.png); }
#list_files a.ext_lasso{background-image: url(img/icons/code.png); }
#list_files a.ext_log{background-image: url(img/icons/txt.png); }
#list_files a.ext_m4p{background-image: url(img/icons/music.png); }
#list_files a.ext_mov{background-image: url(img/icons/film.png); }
#list_files a.ext_mp3{background-image: url(img/icons/music.png); }
#list_files a.ext_mp4{background-image: url(img/icons/film.png); }
#list_files a.ext_mpg{background-image: url(img/icons/film.png); }
#list_files a.ext_mpeg{background-image: url(img/icons/film.png); }
#list_files a.ext_ogg{background-image: url(img/icons/music.png); }
#list_files a.ext_pcx{background-image: url(img/icons/picture.png); }
#list_files a.ext_pdf{background-image: url(img/icons/pdf.png); }
#list_files a.ext_php{background-image: url(img/icons/php.png); }
#list_files a.ext_ctp{background-image: url(img/icons/php.png); }
#list_files a.ext_png{background-image: url(img/icons/picture.png); }
#list_files a.ext_ppt{background-image: url(img/icons/ppt.png); }
#list_files a.ext_psd{background-image: url(img/icons/psd.png); }
#list_files a.ext_pl{background-image: url(img/icons/script.png); }
#list_files a.ext_py{background-image: url(img/icons/script.png); }
#list_files a.ext_rb{background-image: url(img/icons/ruby.png); }
#list_files a.ext_rbx{background-image: url(img/icons/ruby.png); }
#list_files a.ext_rhtml{background-image: url(img/icons/ruby.png); }
#list_files a.ext_rpm{background-image: url(img/icons/linux.png); }
#list_files a.ext_ruby{background-image: url(img/icons/ruby.png); }
#list_files a.ext_sql{background-image: url(img/icons/db.png); }
#list_files a.ext_swf{background-image: url(img/icons/flash.png); }
#list_files a.ext_tif{background-image: url(img/icons/picture.png); }
#list_files a.ext_tiff{background-image: url(img/icons/picture.png); }
#list_files a.ext_txt{background-image: url(img/icons/txt.png); }
#list_files a.ext_vb{background-image: url(img/icons/code.png); }
#list_files a.ext_wav{background-image: url(img/icons/music.png); }
#list_files a.ext_wmv{background-image: url(img/icons/film.png); }
#list_files a.ext_xls{background-image: url(img/icons/xls.png); }
#list_files a.ext_xml{background-image: url(img/icons/code.png); }
#list_files a.ext_zip{background-image: url(img/icons/zip.png); }